* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --header-bg: #10375c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

container {
    width: 1170px;
    min-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header {
    padding: 50px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    color: #fff;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}

.logo__brand--small {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}
